# These owners will be the default owners for everything in
# the repo. They will be requested for review when someone 
# opens a pull request.
*                   @marc-romu

# Protect the entire .github folder and all its contents
/.github/           @marc-romu
/.github/**         @marc-romu
/.github/CODEOWNERS @marc-romu

# Documentation
/README.md          @marc-romu
/CHANGELOG.md       @marc-romu
/LICENSE            @marc-romu
/CONTRIBUTING.md    @marc-romu

# Critical repository files
/.gitignore         @marc-romu
/.gitattributes     @marc-romu
/.windsurfrules     @marc-romu

# Critical solution files
/*.sln              @marc-romu
/NuGet.Config       @marc-romu
/Solution.props     @marc-romu